langchain
langchain-community
langchain-openai
langgraph

chromadb
tiktoken
langchain_openai

fastapi
uvicorn
requests
httpx
langchain-openai


yfinance
langchain-mcp-adapters
mcp
pandas-ta

langchain-chroma 
pypdf

neo4j
scrapy